<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">カート</span>
            <span class="badge bg-primary rounded-pill"><%= @cart_items.count %></span>
        </h4>
    <ul class="list-group mb-3">
            <% @cart_items.each do |cart_item| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div><h6 class="my-0"><%= cart_item.item.name %></h6></div>
                <div class="list-inline">
                    <span class="text-body-secondary"><%= cart_item.quantity %>個</span>
                </div>
                <%= button_to 'カートから削除', cart_item_path(cart_item.id), params: { item_id: cart_item.item.id }, method: :delete, class: "btn btn-outline-dark mt-auto" %>
            </li>
            <% end %>
            <li class="list-group-item d-flex justify-content-between">
                <div class="list-inline">
                    <span>合計</span>
                </div>
                <strong><%= @total_price %>円</strong>
            </li>
        </ul>
    </div>
</div>
