<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><%= image_tag @item.image, class: "card-img-top mb-5 mb-md-0" %></div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder"><%= @item.name %></h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through"></span>
          <span><%= "#{@item.price}円" %></span>
        </div>
        <p class="lead"><%= @item.detail %></p>
          <%= form_with url: cart_items_path(item_id: @item.id), local: true do |form| %>
        <div class="d-flex">
            <%= form.number_field :quantity, class: "form-control", style: "max-width: 4rem" %>
            <%= button_tag class: "btn btn-outline-dark flex-shrink-0", type: "submit" do %>
              <i class="bi-cart-fill me-1"></i>
              カートに入れる
              <%#= form.submit 'カートに入れる', class: "btn btn-outline-dark flex-shrink-0" %>
              <%#= form.submit 'カートに入れる' %>
            <% end %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
