<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><%= image_tag @item.image, class: "card-img-top mb-5 mb-md-0" %></div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder"><%= @item.name %></h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through"></span>
          <span><%= "#{@item.price}円" %></span>
        </div>
        <p class="lead"><%= @item.detail %></p>
        <div class="d-flex">
          <%#<input class="form-control text-center me-3" id="inputQuantity" type="num" value="2" style="max-width: 3rem" />%>
          <%= form_with url: cart_items_path(item_id: @item.id), local: true do |form| %>
            <%#= form.label :quantity %>
            <%= form.number_field :quantity, class: "form-control", style: "max-width: 3rem" %>
            <i class="bi-cart-fill me-1"></i>
            <%= form.submit 'カートに入れる', class: "btn btn-outline-dark flex-shrink-0", type: "button" %>
          <% end %>
          <%# <input class="form-control text-center me-3" id="inputQuantity" type="num" name="quantity" style="max-width: 3rem"> %>
          <%# <button class="btn btn-outline-dark flex-shrink-0" type="button"> %>
            <%# <i class="bi-cart-fill me-1"></i> %>
            <%#カートに入れる %>
            <%# <div class="text-center"><%= button_to 'カートに入れる', { controller: 'cart_items', action: 'create' }, { params: { item_id: @item.id }, class: "btn btn-outline-dark mt-auto" } %></div>
          <%# </button> %>
        </div>
      </div>
    </div>
  </div>
</section>
