<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#!">街のケーキ屋さん</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><%= link_to 'Home', root_path, class: "nav-link active", 'aria-current': "page" %></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">すべての商品</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!">人気の商品</a></li>
            <li><a class="dropdown-item" href="#!">新着</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#!"><%= session[:cart_id] %></a></li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <% if params[:controller] == 'admin/items' && %w(index new edit).include?(params[:action]) %>
            <%= link_to '商品登録', new_admin_item_path, class: "text-decoration-none" %>
          <% else %>
            <i class="bi-cart-fill me-1"></i>
            <%= link_to 'カート', checkout_index_path, class: "text-decoration-none link-dark" %>
            <span class="badge bg-dark text-white ms-1 rounded-pill"><%= @total_quantity %></span>

          <% end %>
        </button>
      </form>
    </div>
  </div>
</nav>
